

.landing {
    display: flex;
    padding: 50px;
    
}

.button {
    background: linear-gradient(90deg, #8456EC 10%, #E87BF8 90%);
}

.landing-left-wrapper {
    padding: 50px;
    margin-left: 50px;
}

.landing-left-image {
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}

.landing-right-wrapper {
    margin-left: auto;
display: flex;

    width: 25%;
    padding: 50px;
}



.landing-right-content {
    text-align: right;
}

.landing-right-content > h1{
    text-align: right;
}

#snapchat-text {
    background: -webkit-linear-gradient(0deg, #8456EC 10%, #E87BF8 90%);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}

