body {
    margin-top: 20px;
    margin-left: 50px;
    margin-right: 50px;
}

.createEvent-form {
    border-style: solid;
    border-width: 3px;
    border-color: #240D57;
    width: 50%;
    margin: auto;
    display: flex;
    align-items: center;
    justify-content: space-between;
    flex-direction: column;
    height: 60vh;
    padding: 30px;
}

.form-button {
    margin: 5px;
    background: #501FC1; 
    color: #F6F2FF;
}

#next-button {
    float: right;
    background: #00805E;
}

#home-button {
    background-color: #FFD7E0;
}